.content-box{
    border: 1px solid black;
    width: 350px;
    height: 350px;
    
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 10px;
    margin-top: 10px;

}

#images{
    width: 300px;
    height: 300px;
}

.outer-content-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
}